<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="category-cocktail text-center">
          <h1><%= @cocktail.name %></h1>
          <div class="cocktail-picture">
            <%= render "photo", cocktail: @cocktail %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="description-cocktail text-center">
          <ul class="list-unstyled">
            <h3><%= @cocktail.name %> recipe</h3>
            <div class="list-dose text-center">
              <% @cocktail.doses.each do |dose| %>
                <li> <%= dose.description %> (<%= dose.ingredient.name %>)</li>
              <% end %>
            </div>
            <%= image_tag "bistro.png", class:"image-cocktail" %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="row-2">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <ul class="list-inline text-center">
          <li>
            <div class="container-btn text-center">
             <%= link_to "Still thirsty ?", "", class: "btn-index-js" %>
            </div>
          </li>
          <li>
            <div class="hidden link-index">
              <%= link_to "Go back to all our cocktails", cocktails_path, class:"btn-link" %>
              <%= image_tag "bistro_jaune.png", class:"image-index" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
