<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="category-cocktail text-center">
          <h1><%= @cocktail.name %></h1>
          <div class="cocktail-picture">
            <%= render "photo", cocktail: @cocktail %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="description-cocktail text-center">
          <ul class="list-unstyled">
            <h3><%= @cocktail.name %> recipe</h3>
            <div class="list-dose text-center">
              <% @cocktail.doses.each do |dose| %>
                <li> <%= dose.description %> (<%= dose.ingredient.name %>)</li>
              <% end %>
            </div>
            <%= image_tag "bistro.png", class:"image-cocktail" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
