<div class="wrapper-grey">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <div class="container-cocktail">
    <div id="cocktail-picture">
      <%= render "photo", cocktail: @cocktail %>
    </div>
    <div class="description-cocktail">
      <ul><h3><%= @cocktail.name %> recipe</h3>
        <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> (<%= dose.ingredient.name %>)</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="banner-footer" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url("cocktail_footer.jpg")%>');">
  <div class="banner-content">
    <h3>Want something different ?</h3>
    <%= link_to "All our cocktails", cocktails_path, class:"btn btn-primary" %>
  </div>
</div>

